$dd-background-color: rgb(233, 233, 233);

.dd-wrapper {
  background-color: $dd-background-color;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid rgb(177, 177, 177);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 5px 10px;
      text-align: left;
      min-width: 150px;

      &:not(:last-child) {
        border-bottom: 1px solid #aaa;
      }

      &.dd-hoverable {
        cursor: pointer;

        &:hover {
          background-color: lighten($dd-background-color, 4);
        }
      }
    }
  }
}
